;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-alpha2"]
  [re-frame "1.0.0"]
  [day8.re-frame/http-fx "0.2.1"]
  [cljs-ajax "0.8.0"]
  [cljsjs/codemirror "5.44.0-1"]]

 :dev-http {9090 "public/"}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target     :browser
        :modules    {:main {:init-fn normand.main/main}}
        :devtools   {:after-load normand.main/reload}}}}
